body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: orangered;
}
.whole {
    height: 100%;
    width: 50%;
     background-color: beige;
}
.lyrics {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
}
img {
    height: 400px;
    width: 200px;
    border-radius: 40px;
}